.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 6px;
  }
  
  .btn:hover {
    color: #ffbb33;
  }
  