.not_project{
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_project img{
    width: 15%;
}

.teste{
    background-color:antiquewhite;
    text-align: center;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.teste input{
    width: 50%;
    margin: auto;
}